@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Braah+One&family=Noto+Sans+TC:wght@100..900&display=swap");
/*---------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-optical-sizing: auto; /* 光學尺寸 */
  line-height: 1.5;
}

/* 重置標題字重 */
h1, h2, h4, h5, h6 {
  font-weight: normal;
}

h3 {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px;
}

/* 重置清單符號 */
ol, ul {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連接 */
a {
  display: block;
  color: #222;
  text-decoration: none;
}

.c-body {
  margin: 50px;
}
.c-body .container2 {
  position: relative;
  text-align: center;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.c-body .container2 .background-image-contact {
  width: 25%;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.c-body .container2 .contact-title {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  color: #000;
  z-index: 2;
}
.c-body .container2 .contact-h1 {
  font-size: 24px;
  font-family: "Braah One", "Noto Sans TC", sans-serif;
  color: #48a0f0;
  border-left: 5px solid #48a0f0;
  padding-left: 10px;
  position: absolute;
  top: 27%;
  transform: translateX(-50%);
  z-index: 2;
}

.c-body {
  margin-top: 92px;
  font-size: 18px;
}
@media (max-width: 387px) {
  .c-body {
    font-size: 15px;
  }
}
.c-body .container2 {
  position: relative;
  text-align: center;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: column;
}
.c-body .container2 .background-image-contact {
  object-fit: cover;
}
@media (max-width: 387px) {
  .c-body .container2 .background-image-contact {
    width: 200px;
  }
}
.c-body .container2 .contact-h1 {
  transform: translate(-50%, -50%);
  color: #48A0F0;
  font-family: "Braah One", "Noto Sans TC", sans-serif;
  border-left: 5px solid #48A0F0;
  padding-left: 10px;
  position: absolute;
  top: 27%;
  margin-top: 30px;
  font-size: 24px;
}
@media (max-width: 387px) {
  .c-body .container2 .contact-h1 {
    font-size: 16px;
    top: 32%;
    left: 45%;
  }
}
.c-body .container2 .contact-title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  font-size: 35px;
  margin-top: 40px;
  font-weight: 600;
}
@media (max-width: 387px) {
  .c-body .container2 .contact-title {
    font-size: 26px;
    left: 52%;
    top: 43%;
  }
}
.c-body #member-form {
  margin-top: 50px;
  padding-bottom: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
}
@media (max-width: 865px) {
  .c-body #member-form {
    left: 20%;
    transform: none;
  }
}
@media (max-width: 547px) {
  .c-body #member-form {
    left: 0;
    transform: none;
    margin-left: 20px;
  }
}
@media (max-width: 547px) and (max-width: 387px) {
  .c-body #member-form {
    margin-left: 5px;
  }
}
.c-body #member-form .required {
  margin-right: 20px;
  color: white;
  background-color: #48A0F0;
}
@media (max-width: 387px) {
  .c-body #member-form .required {
    margin-right: 5px;
  }
}
.c-body #member-form .gender, .c-body #member-form .phonenumber, .c-body #member-form .contact-time, .c-body #member-form .location,
.c-body #member-form .program, .c-body #member-form .form-group {
  margin-left: 56px;
}
@media (max-width: 387px) {
  .c-body #member-form .gender, .c-body #member-form .phonenumber, .c-body #member-form .contact-time, .c-body #member-form .location,
  .c-body #member-form .program, .c-body #member-form .form-group {
    margin-left: 35px;
  }
}
.c-body #member-form legend {
  padding-inline: 0px;
}
.c-body #member-form .gender, .c-body #member-form .phonenumber, .c-body #member-form .contact-time, .c-body #member-form .location,
.c-body #member-form .program, .c-body #member-form .form-group, .c-body #member-form .required-2 {
  margin-top: 20px;
}
.c-body #member-form .phonenumber, .c-body #member-form .contact-time {
  display: flex;
}
.c-body #member-form #username, .c-body #member-form #member1 {
  margin-left: 60px;
  border-radius: 5px;
}
@media (max-width: 387px) {
  .c-body #member-form #username, .c-body #member-form #member1 {
    margin-left: 50px;
  }
}
@media (max-width: 387px) {
  .c-body #member-form #username {
    width: 80px;
    margin-left: 45px;
  }
}
@media (max-width: 1032px) {
  .c-body #member-form #username, .c-body #member-form .phone-input input, .c-body #member-form #email {
    width: 160px;
  }
}
@media (max-width: 913px) {
  .c-body #member-form #username, .c-body #member-form .phone-input input, .c-body #member-form #email {
    width: 120px;
  }
}
.c-body #member-form .phone-input input {
  margin-left: 24px;
  border-radius: 5px;
}
@media (max-width: 387px) {
  .c-body #member-form .phone-input input {
    margin-left: 17px;
  }
}
.c-body #member-form #email, .c-body #member-form .contact-time2, .c-body #member-form .location-select,
.c-body #member-form .program-select, .c-body #member-form #message {
  margin-left: 24px;
  border-radius: 5px;
}
@media (max-width: 387px) {
  .c-body #member-form #email, .c-body #member-form .contact-time2, .c-body #member-form .location-select,
  .c-body #member-form .program-select, .c-body #member-form #message {
    margin-left: 17px;
  }
}
.c-body #member-form .location-select,
.c-body #member-form .program-select {
  width: 201px;
}
@media (max-width: 1032px) {
  .c-body #member-form .location-select,
  .c-body #member-form .program-select {
    width: 160px;
  }
}
@media (max-width: 913px) {
  .c-body #member-form .location-select,
  .c-body #member-form .program-select {
    width: 120px;
  }
}
.c-body #member-form .form-group {
  display: flex;
  margin-bottom: 30px;
}
.c-body #member-form .message-content {
  width: 220px;
  height: 150px;
  border-radius: 5px;
}
@media (max-width: 1032px) {
  .c-body #member-form .message-content {
    width: 200px;
  }
}
@media (max-width: 993px) {
  .c-body #member-form .message-content {
    width: 160px;
  }
}
@media (max-width: 913px) {
  .c-body #member-form .message-content {
    width: 140px;
    height: 100px;
  }
}
@media (max-width: 301px) {
  .c-body #member-form .message-content {
    width: 120px;
  }
}
.c-body #member-form .form-btn {
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  justify-items: center;
  margin-left: 160px;
}
@media (max-width: 1032px) {
  .c-body #member-form .form-btn {
    margin-left: 150px;
  }
}
@media (max-width: 992px) {
  .c-body #member-form .form-btn {
    margin-left: 120px;
  }
}
@media (max-width: 886px) {
  .c-body #member-form .form-btn {
    margin-left: 145px;
  }
}
@media (max-width: 387px) {
  .c-body #member-form .form-btn {
    margin-left: 110px;
  }
}
.c-body #member-form .form-btn input[type=submit],
.c-body #member-form .form-btn input[type=reset] {
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  margin-right: 20px;
  width: 90px;
  height: 45px;
}
@media (max-width: 886px) {
  .c-body #member-form .form-btn input[type=submit],
  .c-body #member-form .form-btn input[type=reset] {
    padding: 0%;
    width: 65px;
    height: 32px;
  }
}
@media (max-width: 301px) {
  .c-body #member-form .form-btn input[type=submit],
  .c-body #member-form .form-btn input[type=reset] {
    margin-bottom: 20px;
  }
}
.c-body #member-form .form-btn input[type=submit] {
  background-color: #cccccc;
}
.c-body #member-form .form-btn input[type=reset] {
  background-color: #cccccc;
}
.c-body #member-form .form-btn input[type=submit]:hover,
.c-body #member-form .form-btn input[type=reset]:hover {
  background-color: #3498db;
}
.c-body #member-form .form-note {
  margin-top: 30px;
  margin-left: 150px;
  text-align: center;
  color: #494949;
  font-size: 14px;
}
@media (max-width: 886px) {
  .c-body #member-form .form-note {
    text-align: none;
  }
}
@media (min-width: 1024px) {
  .c-body #member-form .form-note {
    font-size: 16px;
  }
}
.c-body #member-form .wrap {
  margin-right: 130px;
}
.c-body .modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  z-index: 1000;
  text-align: center;
  width: 300px;
}
@media (max-width: 400px) {
  .c-body .modal {
    width: 250px;
    padding: 10px;
  }
}
@media (max-width: 307px) {
  .c-body .modal {
    width: 200px;
  }
}
.c-body .overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.c-body .modal h6 {
  margin: 30px 0;
  font-size: 18px;
}
.c-body .modal p {
  margin: 0 20px 30px;
  text-align: left;
  line-height: 1.5;
}
.c-body .success-image {
  width: 70%;
  height: auto;
  margin: 10px auto;
}
.c-body button {
  background-color: #4AA38E;
  color: white;
  border: none;
  padding: 20px 30px;
  cursor: pointer;
  border-radius: 7px;
}
@media (max-width: 400px) {
  .c-body button {
    padding: 15px 25px;
  }
}
.c-body .contact-time {
  display: flex;
  align-items: flex-start;
}
.c-body .contact-time2 {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.c-body .contact-time2 label {
  display: inline-flex;
  align-items: center;
  margin-bottom: 8px;
}
.c-body .contact-time2 input[type=radio] {
  margin-right: 8px;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=radio],
select,
textarea {
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  color: #333;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease; /* 邊框變化的過渡效果 */
}

/* 當獲得焦點時的樣式 */
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
select:focus,
textarea:focus {
  border-color: #3498db; /* 焦點時的邊框顏色 */
  background-color: #ffffff; /* 焦點時的背景顏色 */
  outline: none; /* 移除預設的焦點樣式 */
}

label[for=member1] {
  margin-right: 10px;
}

@media (max-width: 886px) {
  .c-body #member-form .wrap {
    margin-right: 0%;
  }
}

@media (min-width: 1088px) {
  /* 參觀時段 */
  .gender, .required-1, .contact-time, .location, .program, .required-2 {
    display: flex;
    align-items: center;
  }
  .c-body {
    font-size: 24px;
  }
  .c-body #member-form .wrap {
    margin: 0;
  }
  #member-form .required {
    margin-right: 40px !important;
  }
  input[type=text],
  input[type=email],
  input[type=tel],
  textarea,
  select {
    height: 25px; /* 輸入框寬度與父容器一致 */
    box-sizing: border-box;
  }
  .c-body #member-form .gender, .c-body #member-form .phonenumber, .c-body #member-form .contact-time, .c-body #member-form .location, .c-body #member-form .program, .c-body #member-form .form-group {
    margin-left: 88px;
  }
  .c-body #member-form #username, .c-body #member-form #member1 {
    margin-left: 120px;
  }
  .c-body #member-form #email, .c-body #member-form .contact-time2, .c-body #member-form .location-select, .c-body #member-form .program-select, .c-body #member-form #message, #member-form .phone-input input {
    margin-left: 72px !important;
    border-radius: 5px;
  }
  .message-content {
    width: 300px !important;
    height: 250px !important;
  }
  .form-btn {
    margin-left: 300px !important;
  }
  .form-note {
    margin-left: 210px;
  }
  .c-body #member-form .gender, .c-body #member-form .phonenumber, .c-body #member-form .contact-time, .c-body #member-form .location, .c-body #member-form .program, .c-body #member-form .form-group, .c-body #member-form .required-2 {
    margin-top: 30px;
  }
  .modal {
    width: 400px !important;
  }
  .modal p {
    line-height: 2 !important;
  }
}
@media (min-width: 1310px) {
  .form-note {
    margin-left: 170px;
  }
}
@media (max-width: 1006px) {
  .qa-title {
    font-size: 30px !important;
    top: 55% !important;
  }
  .qa {
    font-size: 22px !important;
    top: 30% !important;
    margin-left: 50px !important;
  }
}
@media (max-width: 900px) {
  .background-image-contact {
    width: 60% !important;
  }
}
* {
  font-family: "Braah One", "Noto Sans TC", sans-serif;
}/*# sourceMappingURL=contac.css.map */